/* Reset some default styles */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('/images/index.jpg');
    background-size: cover;
 
    background-repeat: no-repeat;
}

div {
    position: absolute;
    top: 40%;
    left: 30%;
    background-color:#d8d8d8;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    color: #333;
}

button {
    padding: 10px 15px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* Style login button */
button.login {
    background-color: #008CBA;
    color: white;
    border: none;
}

/* Style register button */
button.register {
    background-color: #008CBA;
    color: white;
    border: none;
}