<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form action="/updatePassword" method="post">
		<label>Email :</label><input type="email" placeholder="Enter Email"
			name="email" required="required"><br> <br> <label>New
			Password :</label><input type="password" placeholder="New Password"
			name="password" required="required"> <input type="checkbox"
			id="passwordVisible" onchange="passwordVisible()"><br> <br>
		<label>OTP :</label><input type="number" placeholder="Enter OTP"
			name="otp" required="required"><br> <br> <input
			type="submit" value="Update Password">


		<script type="text/javascript">
		
				function passwordVisible()
				{
					var password=document.getElementById("passwordVisible");
					if(password.type==="password")
		 			{
		 				password.type="text";
		 			}
		 			else
		 			{
		 				password.type="password";
		 			}
				}
				
		</script>

	</form>
</body>
</html>